@import "../utils/vars";

.informations {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include desktop {
      flex-wrap: nowrap;
    }
  }
  &__svg {
    background-color: $team-section-color;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    height: 120px;
    @include tablet {
      max-width: 354px;
    }
    @include desktop {
      max-width: 270px;
    }
  }
  &__icon-size {
    width: 70px;
    height: 70px;
  }
  &__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    @include tablet {
      text-align: start;
    }
  }
  &__paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $gray-text-color;
    margin-top: 10px;
  }
  .informations-list {
    &__item {
      max-width: 450px;
      @include tablet {
        max-width: 354px;
      }
      @include desktop {
        max-width: 270px;
      }
    }
  }
}
