@import "../utils/vars";

.header-navigation {
  border-bottom: 1px solid $stroke-color;
  &__btn {
    background-color: transparent;
    border: none;
    margin-left: auto;

    @include tablet {
      display: none;
    }
  }
  &__btn--focus:focus-within {
    fill: $blue-color;
  }
  &__link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding-block: 16px;
    @include tablet {
      padding-block: 26px;
    }
    @include desktop {
      padding-top: 24px;
      padding-bottom: 25px;
    }
    color: $body-text-color;
    transition-property: color;
    transition-duration: $duration;
    transition-timing-function: $timing-function;
  }
  &__list {
    display: flex;
  }
  &__link--focus:focus,
  &__link--hover:hover {
    color: $blue-color;
  }

  &__text {
    color: $blue-color;
  }
  .header-position {
    display: flex;
    align-items: center;
  }
  .website-navigation {
    display: none;
    @include tablet {
      display: flex;
      margin-left: 83px;
    }
    @include desktop {
      margin-left: 93px;
    }

    &__list {
      display: flex;
      align-items: center;
      @include tablet {
        gap: 60px;
      }
      @include desktop {
        gap: 46px;
      }
    }
    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      color: $body-text-color;
      transition-property: color;
      transition-duration: $duration;
      transition-timing-function: $timing-function;
    }
    &__link:hover,
    &__link:focus {
      color: $blue-color;
    }
    &__current {
      color: $blue-color;
    }
    &__current--after::after {
      content: "";
      display: block;
      position: absolute;
      margin-top: 29px;
      width: 56px;
      height: 4px;
      background-color: $blue-color;
      border: 2px;
      border-radius: 2px;
    }
  }
  .website-contacts {
    display: none;
    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    @include desktop {
      flex-direction: row;
      gap: 30px;
    }
    margin-left: auto;
    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: $gray-text-color;
      display: flex;
      transition-property: color, fill;
      transition-duration: $duration;
      transition-timing-function: $timing-function;
    }
    &__link--hover:hover,
    &__link--focus:focus {
      color: $blue-color;
    }
    &__mail-svg {
      width: 16px;
      height: 12px;
      fill: currentColor;
      margin-right: 10px;
    }
    &__phone-svg {
      width: 10px;
      height: 16px;
      fill: currentColor;
      margin-right: 10px;
    }
  }
}
