@import "../utils/vars";
.hidden-overlay {
  position: absolute;
  overflow: hidden;
  max-width: 450px;
  height: 294px;
  @include desktop {
    max-width: 354px;
  }
  @include desktop {
    max-width: 370px;
  }
}
.portfolio-overlay-box {
  position: absolute;
  max-width: 450px;
  @include desktop {
    max-width: 354px;
  }
  @include desktop {
    max-width: 370px;
  }
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(101%);
  transition: transform 250ms;
  padding: 49px 45px 49px 24px;
}
