$font-family: "Roboto", sans-serif;
$stroke-color: #ececec;
$blue-color: #2196f3;
$main-white-color: #ffffff;
$header-color: #000000;
$gray-text-color: #757575;
$gray-background-color: #2f303a;
$footer-text-color: rgba(255, 255, 255, 0.6);
$team-section-color: #f5f4fa;
$body-text-color: #212121;
$stroke-color: #ececec;
$portfolio-border-color: #eeeeee;
$icon-socialmedia-color: #afb1b8;
$footer-background: rgba(255, 255, 255, 0.1);
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";
